* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


img {
    width: 100%;
}










/************** TEKST *********/
p {

    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #DF6B4E;
    font-size: 2rem;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: #DF6B4E;
    font-size: 1rem;
}

li {
    font-family: 'Montserrat', sans-serif;
}




/****** HEader ************/




header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header_logo_container {
    height: 75px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#header_logo {
    background-image: url(imgs/logo.svg);
    height: 45.63px;
    width: 80px;
    display: block;
    background-size: cover;
}

#header_logo_text {
    background-image: url(imgs/logo_text.svg);
    height: 30px;
    width: 120px;
    display: block;
    background-size: cover;
}





#header_menu {
    position: absolute;
    background-color: #EDEDED;
    top: 125px;
    width: 60vw;
    height: 100vh;
    transition: 0.3s;
    transform-origin: top left;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    z-index: 100;
    /*    margin-left: 40vw;*/
}

#header_menu a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding: 10px;
    color: #DF6B4E;
    margin-left: 20px
}

#kontakt_undermenu a,
#om_undermenu a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-left: 50px;
    font-size: 0.9rem;
    font-weight: 500;
}

#kontakt_undermenu,
#om_undermenu {
    display: flex;
    flex-direction: column;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#main_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    background-color: #DF6B4E;
    padding: 0px 10px;
    align-items: center;
}



#over_menu {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #AA4F39;
    padding: 0px 10px;
}

#over_menu a {
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}














/************ BURGER OG ANIMATION *******/

.menu_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu_btn_burger {
    width: 40px;
    height: 5px;
    background: white;
    transition: all .2s ease-in-out;
}

.menu_btn_burger::before,
.menu_btn_burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    background: white;
    transition: all .3s ease-in-out;
}

.menu_btn_burger::before {
    transform: translateY(-12px);
}

.menu_btn_burger::after {
    transform: translateY(12px);
}



.menu_btn.open .menu_btn_burger {
    background: transparent;
}

.menu_btn.open .menu_btn_burger::before {
    transform: rotate(45deg);
}

.menu_btn.open .menu_btn_burger::after {
    transform: rotate(-45deg);
}








/***** page layout *****/


section {
    width: 100%;
    padding: 0 10px;
}

#dyn_section {
    padding: 0;
}


#top_section {
    padding: 0;
}

#top_billede {
    width: 100vw;
    height: 40vw;
    background-position: center;
    background-size: cover;
    position: relative;
}

#top_billede h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 5rem;
    font-weight: 700;
}

















/************ Dyn content med foldud  *********/

.main_container {
    position: relative;
    overflow: hidden;
    height: auto;

    /***** samme højde som .fag_box***/
    height: 25vw;
}

.main_container:nth-child(odd) {
    background: #EC9D5E;
}

.main_container:nth-child(odd) h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2rem;
}


.main_container:nth-child(even) {
    background: #EDEDED;
}

.main_container:nth-child(even) h2 {
    font-family: 'Montserrat', sans-serif;
    color: #DF6B4E;
    font-size: 2rem;
}

.dyn_btn {
    width: 100%;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}


.dyn_btn:hover {
    cursor: pointer;
}


.fold_ud_knap {
    width: 20px;
    height: 20px;
    transition: 0.5s;
    margin-right: 20px;
}

.pil_rotate {
    transform: rotate(90deg);
}

.main_container:nth-child(odd) .fold_ud_knap {
    background-image: url(imgs/pil_hvid.svg)
}

.main_container:nth-child(even) .fold_ud_knap {
    background-image: url(imgs/pil_orange.svg)
}


.main_container.auto_height {
    height: auto;
}



.indhold_container {
    background-color: white;
    border-radius: 3px;
    margin: 20px 10px;
}

.indhold_billede {
    border-radius: 3px 3px 0 0;
    height: 150px;
    object-fit: cover;
}

.indhold_tekst_container {
    padding: 10px;
}



/******** Fooooter *****/

#footer {

    width: 100%;
    background-color: #DF6B4E;
    color: #ffffff;
}

.colwrapper {
    display: flex;
    flex-direction: column;
}

.colwrapper div {
    padding: 15px 10px;
}
