* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


img {
    width: 100%;
}



/*
:root {
    --orange: #de6141;
    --orange-dark: #a54129;
    --orange-light: #eb8737;
    --grey: #e6e6e6;
}
*/


:root {
    --orange: #0A927D;
    --orange-dark: #05584b;
    --orange-light: #BE6041;
    --grey: #e6e6e6;
}



.max_width {
    max-width: 1200px;
    margin: 0 auto;
}

main section:nth-child(1) {
    max-width: none;
    margin: 0;
}




body {
    background-color: #f7f7f7;
}

section {
    background-color: white;
}

#forside_top_section {
    background-color: transparent;
    height: 500px;
}




/************** TEKST *********/
p {

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'futura-pt-bold', sans-serif;
    margin: 20px;
}

h2 {
    font-family: 'futura-pt-bold', sans-serif;
    color: var(--orange-light);
    font-size: 2rem;
    margin-bottom: 10px;
}

.kategori_tekst {
    margin: 0;
}



h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--orange);
    font-size: 1rem;
}

.dyn_spg {
    font-size: 1.5rem;
}


li {
    font-family: 'Montserrat', sans-serif;
}

#text_content {
    /*    margin: 20px;*/
}

q {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;


}



/****** Header ************/




header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
}

#header_logo_container {
    height: 75px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#header_logo {
    background-image: url(imgs/logo.svg);
    height: 45.63px;
    width: 80px;
    display: block;
    background-size: cover;
    transition: 0.3s;
}

#header_logo_text {
    background-image: url(imgs/logo_text.svg);
    height: 30px;
    width: 120px;
    display: block;
    background-size: cover;
    transition: all .3s ease-in-out;
}





#header_menu {
    position: absolute;
    background-color: var(--grey);
    top: 115px;
    width: 60vw;
    height: 100vh;
    transition: all .3s ease-in-out;
    transform-origin: top left;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    z-index: 100;
    /*    margin-left: 40vw;*/
}

.header_menu_scrolled {
    top: 90px !important;
}

#header_menu a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding: 10px;
    color: var(--orange);
    margin-left: 20px
}

#kontakt_undermenu a,
#om_undermenu a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-left: 50px;
    font-size: 0.9rem;
    font-weight: 500;
}

#kontakt_undermenu,
#om_undermenu {
    display: flex;
    flex-direction: column;
}

#over_menu u {
    color: white;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#main_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    background-color: var(--orange);
    padding: 0px 10px;
    align-items: center;
    overflow: hidden;
    transition: all .3s ease-in-out;
}



#over_menu {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--orange-dark);
    padding: 0px 10px;
}

#over_menu a {
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}



.sticky_menu {
    position: sticky;
    top: -30px;
}

.menu_shrink {
    height: 60px !important;
}


.logo_shrink #header_logo {
    transform: scale(0.1);
    opacity: 0;
}


.logo_shrink #header_logo_text {
    transform: translateY(-20px) scale(1.2);
}










/************ BURGER OG ANIMATION *******/

.menu_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu_btn_burger {
    width: 40px;
    height: 5px;
    background: white;
    transition: all .2s ease-in-out;
}

.menu_btn_burger::before,
.menu_btn_burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    background: white;
    transition: all .3s ease-in-out;
}

.menu_btn_burger::before {
    transform: translateY(-12px);
}

.menu_btn_burger::after {
    transform: translateY(12px);
}



.menu_btn.open .menu_btn_burger {
    background: transparent;
}

.menu_btn.open .menu_btn_burger::before {
    transform: rotate(45deg);
}

.menu_btn.open .menu_btn_burger::after {
    transform: rotate(-45deg);
}

/**********knapper***********/

.button_flex {
    display: flex;
    justify-content: center;
}

.knap {
    background-color: var(--orange-light);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: 'futura-pt-bold', sans-serif;
}

.kontakt_knap a {
    background-color: var(--orange-light);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: 'futura-pt-bold', sans-serif;
    padding: 15px;
}

.kontakt_knap {
    padding: 40px;
}






/***** page layout *****/


section {
    width: 100%;
}

.section_wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 60px 15px 60px 15px;
}

.forside_wrapper {
    display: flex;
    justify-content: center;
    padding: 60px 15px;
}

.forside_wrapper #text_content {
    max-width: 550px;
}


#forside_video {
    position: fixed;
    z-index: -1;
    width: auto;
    height: 100%;
}

#video_logo {
    background-image: url(imgs/samlet_logo.svg);
    height: 31.2vw;
    width: 80vw;
    background-size: cover;
    max-width: 685px;
    max-height: 267.15px;

}


@media (min-width: 876px) {
    #forside_video {
        width: 100vw;
        height: auto;
    }
}

/*
@media (max-aspect-ratio: 16/9) {
    #forside_video {
        width: auto;
        height: 100%;
    }


}
*/


#dyn_section {
    padding: 0;
}


#top_section {
    padding: 0;
    z-index: 1;
}

#top_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.4);
}

#top_billede {
    width: 100vw;
    height: 40vw;
    max-height: 430px;
    background-position: center;
    background-size: cover;
    position: relative;
}

#top_billede h1 {
    position: absolute;
    bottom: 10px;
    margin: 0 10px;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    word-break: break-all;
    line-height: 3.5rem;
}


/********forside styling*********/


#forside_top_section {
    padding: 0;
    z-index: 1;
}

#forside_top_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.4);
    overflow: hidden;
}


#forside_top_billede {
    width: 100vw;
    height: 40vw;
    max-height: 430px;
    background-position: center;
    background-size: cover;
    position: relative;
}

#forside_top_billede h1 {
    position: absolute;
    bottom: 10px;
    margin: 0 10px;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    word-break: break-all;
    line-height: 3.5rem;
}


/************ Dyn content med foldud  *********/

.main_container {
    position: relative;
    overflow: hidden;


    /***** samme højde som .fag_box***/
    height: 105px;
    ;
}




.main_container:nth-child(odd) {
    background: var(--orange-light);
}

.main_container:nth-child(odd) h2 {
    color: white;
    font-size: 2rem;
}


.main_container:nth-child(even) {
    background: var(--grey);
}

.main_container:nth-child(even) h2 {
    color: var(--orange-light);
    font-size: 2rem;
}

.dyn_btn,
.dyn_btn_2 {
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.dyn_btn_2 {
    background: var(--orange-light);
}

.main_container_2 {
    background: var(--orange-light);
}

.kategori_tekst_2 {
    margin: 0;
    color: white;
}

.dyn_btn:hover {
    cursor: pointer;
}


.fold_ud_knap {
    width: 20px;
    height: 20px;
    transition: 0.5s;
    margin-right: 20px;
}

.pil_rotate {
    transform: rotate(90deg);
}

.main_container:nth-child(odd) .fold_ud_knap {
    background-image: url(imgs/pil_hvid.svg)
}

.main_container:nth-child(even) .fold_ud_knap {
    background-image: url(imgs/pil_orange.svg)
}


.main_container.auto_height {
    height: auto;
}



.indhold_container {
    background-color: white;
    border-radius: 3px;
    opacity: 0;

    transform: translatey(10px) translateX(-10px);

    transition: all .3s ease-in-out;
}


.indhold_container:hover {
    cursor: pointer
}

.indhold_container:hover img {
    transform: scale(1.03);
}

.img_overflow {
    overflow: hidden;
    height: 150px;
}




.indhold_billede {
    border-radius: 3px 3px 0 0;
    height: 150px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.indhold_loaded {
    opacity: 1;
    transform: none;
}


.indhold_tekst_container {
    padding: 15px;
    background-color: white;
    border-radius: 0 0 3px 3px;
}

.indhold_tekst_container p {
    margin-top: 5px;
}



.dyn_indhold_container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 0 15px 75px 15px;
}









/*** hvad siger eleverne ***/


.citat_container {
    background: var(--orange-light);
    text-align: center;

}

.citat_container h2 {
    color: white;
    margin: 0;
}

.citater_container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 0 15px 75px 15px;


}





/**** CTA på forsiden ****/

.CTA_container {
    background: var(--grey);


}

.CTAs_container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 75px 15px 75px 15px;

}

.CTA {
    padding: 15px;
    background-color: white;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;


}

.CTA h3 {
    color: var(--orange-light);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}


.CTA_pil {
    background-image: url(imgs/pil_orange.svg);
    height: 20px;
    width: 20px;


}


.links_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}






/****** IHS MOMENTS *****/

.ig_moments {
    background: var(--orange-light);
}

.ig_moments h2 {
    color: white;
    margin: 0;
}

#ig_grid_container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 15px 75px 15px;
}

.ig_img_padding {
    overflow: hidden;
}

#ig_grid_container img {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

#ig_grid_container img:hover {
    cursor: pointer;
    transform: scale(1.15);
}





/*
#broedkrumme a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;

}
*/

#broedkrumme {
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
    position: absolute;
}



#broedkrumme li {
    display: inline;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}


#broedkrumme li + li:before {
    padding: 8px;
    content: "/\00a0";
    font-size: 14px;
    font-weight: normal;
}


#broedkrumme li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}


#broedkrumme li a:hover {
    color: black;
    text-decoration: underline;

}

/******** Footer *****/

#footer_margin {
    padding: 50px 0 0px 0;
    background-color: white;

}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--orange);
    color: #ffffff;
    font-size: 1rem;
    padding: 40px 15px 40px 15px;
}

.colwrapper {
    display: grid;
    grid-gap: 30px 15px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 0 15px;

}

/*
.colwrapper > div {
    padding: 10px;
}
*/

.footer_h {
    font-weight: bold;
    padding-bottom: 5px;
}

.col_3 img {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    width: 40px;

}




.ikoner {
    display: flex;
    flex-direction: row;
}

.ikoner img {
    margin-right: 5px;
}

/** falske links på om**/

.om_afsnit {
    margin: 30px;
}

.falsk_link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* kontalt os  sektion, styling af formularen */

/* Her styler vi de forskellige inputfelter så det får et ensartet udtryk i størrelse og border */
input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    /* resize er den måde man kan forstørre tekst boksne i */
    resize: vertical;
}


/* Her styler vi de forskellige inputfelter så det får et ensartet udtryk i skrifttype, skriftstørrelse, farve og fonttykkelse */
.container ::placeholder,
#fname,
#lname,
#subject {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* Her styler vi send-cta-knappen. Vi styler størrelse, teksten, padding og border */
input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 25px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    background: var(--orange-light);
    color: white;

    cursor: pointer;
    width: 100%;

}

/* Her styler vi den omkring-liggende container til formularen, der gør, at kunden har et indtryk af, at alle inputfelterne hænger sammen */
.formular_width {
    padding: 20px;

    margin-top: 25px;
    margin-bottom: 10px;
    background: var(--grey);
}





/*********Media Q*********/



@media only screen and (min-width: 550px) {
    .section_wrapper {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }


    .citater_container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }




    .CTAs_container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    }


}




@media only screen and (min-width: 750px) {


    .section_wrapper {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }


    .dyn_indhold_container {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));

    }


    /*
    #footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--orange);
        color: #ffffff;
        font-size: 15px;
        display: flex;
        justify-content: space-around;
    }
*/


    /*
    .colwrapper {
        display: flex;
        flex-direction: row;
        flex-basis: 700px;

    }
*/







    .fold_ud_knap {
        opacity: 0;
    }

    .main_container {
        height: auto;
    }



    .indhold_billede {
        height: 200px;
    }

    .img_overflow {
        height: 200px;
    }


    #top_billede h1 {
        font-size: 10rem;
        line-height: 12rem
    }






    @media only screen and (min-width: 1000px) {


        h2 {
            font-size: 2.5rem;
        }
    }
